__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
*.env.*
media/
staticfiles/
node_modules/
.dockerignore
Dockerfile
Docker.base
.git
.gitignore
.idea/
.vscode/
tests/
.DS_Store
LICENSE
README.md
requirements.txt
Dockerfile
Dockerfile.base
