# Settings
SECRET_KEY = https://github.com/AmitM0287 + https://www.linkedin.com/in/amitm0287/
DEBUG_MODE = 0
ALLOWED_HOSTS = localhost:8000, localhost:3000, localhost:4200

# SecretText
ENCRYPT_KEY_LEN = 7

# PostgreSQL
DB_ENGINE = django.db.backends.postgresql
DB_NAME = psqldb
DB_USER = user
DB_PASS = pass@1234
DB_HOST = localhost
DB_PORT = 5432
